<% provide(:title,"勤怠ログ") %>
<h1>勤怠ログ</h1>

<div class="col-md-10 col-md-offset-1">  
  <table class="table table-condenced table-bordered table-striped" id="work-log-table">
    <thead>
      <button type="button" class="btn btn-default" >
                  リセット
      </button>
      <%= form_with(model: @attendance, method: :get, local: true) do |f| %>
        <tr>
          <td>
          年
            <select class="form-control">
              <option value="2021">2021</option>
              <option value="2020">2020</option>
              <option value="2019" selected >2019</option>
              <option value="2018">2018</option>
              <option value="2017">2017</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
          月
            <select class="form-control">
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>  
          </td>
        </tr>
      <% end %>
    </thead>
    
    <tbody>
      <tr>
        <td>日付</td>
        <td>変更前出社時間</td>
        <td>変更前退社時間</td>
        <td>変更後出社時間</td>
        <td>変更後退社時間</td>
        <td>指示者</td>
        <td>承認日</td>
      </tr>
      
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>