<% provide(:title,"勤怠ログ") %>
<h1>勤怠ログ</h1>

<table class="table table-condenced table-bordered table-striped" id="work-log-table">
  <thead>
    <button type="button" class="btn btn-default" >
                リセット
    </button>
    
      <tr>
        <td>
    
          
        </td>
        <td>
    
          
        </td>
      </tr>
    
  </thead>
  
  <tbody>
    <tr>
      <td>日付</td>
      <td>変更前出社時間</td>
      <td>変更前退社時間</td>
      <td>変更後出社時間</td>
      <td>変更後退社時間</td>
      <td>指示者</td>
      <td>承認日</td>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
