<% provide(:title,"出勤社員一覧") %>
<h1>出勤社員一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <table class="table table-condenced table-borderd table-striped">
    <thead>
      <tr>
        <td>社員番号</td>
        <td>名前</td>
      </tr>
    </thead>
      
    <tbody> 
      <% User.all.each do |users| %>
        <%  users.attendances.any? do |day| %>
          <% if (Date.current == day.worked_on) && day.started_at.present? && day.finished_at.nil? %>
            <tr>
              <td>
                <%= users.employee_number  %>
              </td>
              <td>
                <%= users.name %>
              </td>
            </tr> 
          <% end %>
        <% end %>
      <% end %>
    </tbody> 
  </table>
</div>